.contato {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .contato-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 4rem 4rem 4rem;
    background: #00008b;
    width: 100vw;

    h1,
    p {
      color: #fefefe;
    }

    p {
      margin-top: 1rem;
    }
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100vw;
    max-width: 1360px;

    .contato-message {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      > h1 {
        border: none;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        input,
        textarea {
          width: 100%;
          margin-bottom: 1.5rem;
          border: none;
          border-bottom: #00008b 1px solid;
          resize: none;
          line-height: 1rem;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
        }

        button {
          margin-top: 1rem;
        }
      }
    }
  }
}

.contato-info {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    li {
      margin-bottom: 0.75rem;
      a {
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;

        img {
          filter: invert(17%) sepia(37%) saturate(6620%) hue-rotate(237deg)
            brightness(67%) contrast(140%);
          width: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
