@import "global";

.contato {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hands1.jpg");
  background-position: center;
  background-size: cover;

  .contato-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $bg-transparent;
    padding-top: 6rem;

    h2,
    p {
      color: #fefefe;
    }
    p {
      margin-top: 0.75rem;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 980px;

    .contato-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        width: 420px;

        input,
        textarea {
          width: 100%;
          background: $bg-transparent;
          padding: 4px 6px;
          color: $secondary-color;
          margin-top: 0.75rem;
          border: none;
          border-bottom: $secondary-color 2px solid;
          border-radius: 8px;
          resize: none;
          line-height: 1.25rem;
          font-size: 0.75rem;
          font-family: "Poppins", sans-serif;

          ::placeholder {
            opacity: 1;
          }
        }
      }
    }
  }
}

.contato-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  p {
    color: #fefefe;
  }

  ul {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      margin-right: 0.75rem;
      a {
        text-decoration: none;

        img {
          width: 2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.contato-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;

  span,
  p {
    color: #fefefe;
  }

  .contato-func {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
