.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  padding: 24px 48px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  .logo {
    width: 4rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: #fefefe;
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
      margin-right: 2rem;
    }
    > a:hover {
      background-color: #fefefe;
      padding: 0.5rem;
      color: #091540;
      transition: all ease-in 0.35s;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
