header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 2rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  .logo {
    width: 4rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: #fefefe;
      text-decoration: none;
      font-weight: 700;
      margin-right: 2rem;
    }
    a:hover {
      background-color: #fefefe;
      padding: 0.75rem;
      color: #00008b;
      transition: all ease-in 0.35s;
      font-size: 1.25rem;
    }
  }
}
