.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .bg-video {
    width: 100vw;
    size: cover;
    position: fixed;
    top: 0;
  }

  > img {
    position: absolute;
    height: 50vh;
    right: 20%;
    top: 25%;
  }
}
