.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .bg-video {
    width: 100vw;
    size: cover;
    position: fixed;
    top: 0;
  }

  > img {
    position: absolute;
    height: 50vh;
    right: 20%;
    top: 25%;
  }
}

.hps-home {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 0.75rem;
  z-index: 100;

  span {
    color: #fefefe;
  }
  a {
    margin-left: 0.25rem;
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
  }
}

.home-content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.5s;
  background: none;

  h1,
  p {
    color: #fefefe;
  }

  p {
    margin-top: 1rem;
    width: 360px;
    text-align: center;
  }

  button {
    background: none;
    border: 2px solid #fefefe;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

    a {
      text-decoration: none;
      color: #fefefe;
    }
  }

  button:hover {
    background-color: #fefefe;
    transition: all ease-in 0.35s;

    a {
      color: #091540;
      transition: all ease-in 0.35s;
    }
  }
}
