.projeto-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #00008b;
  padding-top: 140px;
  padding-bottom: 2rem;
  height: 100%;

  h1 {
    color: #fefefe;
    max-width: 800px;
    text-align: center;
  }

  img {
    width: 64px;
    margin-right: 1rem;
    border-radius: 100%;
  }
}

.projeto-main {
  max-width: 1260px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  article {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      position: absolute;
      line-height: 2rem;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 4px;
      text-align: justify;
      color: #fefefe;
      width: 720px;
    }
    img {
      margin-left: 2rem;
      height: 400px;
      width: 1080px;
    }
  }
}

.projeto-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  max-width: 1260px;
}

.projeto-desc-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;

  h3 {
    border-bottom: #00008b 2px solid;
    padding-bottom: 4px;
    margin-bottom: 0.8rem;
  }

  ul {
    list-style: square;
    margin-bottom: 2rem;
  }

  li + li {
    margin-top: 0.8rem;
  }
}
