.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 4rem 4rem 4rem;
  background: #00008b;
  width: 100vw;

  h1,
  > p {
    color: #fefefe;
  }

  p {
    margin-top: 1rem;
  }
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100vw;
  padding: 4rem;
  max-width: 1360px;

  .item-servico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      height: 6rem;
      border-radius: 100px;
    }
    .item-servico-desc {
      height: 100%;
      width: 100%;
      margin-left: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      h2 {
        font-weight: 700;
        font-size: 1.45rem;
        width: 100%;
        margin-bottom: 0.8rem;
      }
      p {
        font-weight: 400;
        font-size: 0.95rem;
      }
    }
  }
}
