.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg-video {
  width: 100vw;
  size: cover;
  position: fixed;
  top: 0;
}

.mockup {
  width: 30vw;
  display: block;
  position: absolute;
  z-index: 10;
  top: 250px;
  left: 50px;
}

.servicos {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.servicos h1 {
  width: 800px;
  text-align: center;
  color: #00008b;
  line-height: 3rem;
  text-shadow: 2px 2px 2px #0000007a;
}

.servicos .servicos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem;
}

.servicos .servicos-grid .card-servico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.servicos .servicos-grid .card-servico + .card-servico {
  margin-right: 120px;
}

.servicos .servicos-grid .card-servico .card-servico-icon img {
  width: 98px;
  margin-right: 1.5rem;
}

.servicos .servicos-grid .card-servico .card-servico-desc h2 {
  margin-bottom: 0.5rem;
}
